@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root
    {
    --lavander-blush: 247 235 236;
    --red-crayola: 240 36 87;
    --rose-quartz: 172 159 187;
    --raising-black: 29 30 44;
  }
}
